<div id="root">
  <h1>Articles</h1>
  Our blog has <%= Article.public_count %> articles and counting!

  <% @articles.each do |a| %>
  <% unless a.archived? %>
  <div class="article-group">
    <h3><%= a.title %></h3>
    <p><%= a.body %></p>
    <%= link_to "Read", article_path(a), class: "article-action" %>
    <%= link_to "Edit", edit_article_path(a), class: "article-action" %>
    <%= link_to "Delete", article_path(a), class: "article-action", method: :delete, data: {confirm: "Are you sure?", disable_with: "Processing..."} %>
  </div>
  <% end %>
  <% end %>

  <div class="create-new">
    <%= link_to "New Article", new_article_path, class: "article-action" %>
  </div>
</div>