<div id="root">
  <h1><%= @article.title %></h1>
  <p><i>Publish date: <%= @article.created_at.strftime("%Y-%m-%d") %></i></p>
  <p><%= @article.body %></p>
  <%= link_to "Edit", edit_article_path(@article), class: "article-action" %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?", disable_with: "Processing..."}, class: "article-action" %>

  <%= render "comments/form", article: @article %>
  <%= render "comments/list", article: @article %>
</div>